
<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <ul class="userMenu">
            <ng-template [ngIf]="user==='admin'">
                <li class="menus" *ngFor= 'let menu of adminMenu; index as i'>
                   <a href="">{{menu}}</a> 
                </li>
            </ng-template>
            <ng-template [ngIf]="user!=='admin'">
            <li class="menus" *ngFor= 'let usrmenu of userMenu; index as i'>
               <a href="">{{usrmenu}}</a> 
        
            </li>
            </ng-template>
        </ul>
      
     
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <span><i class="fas fa-bars"></i></span>
      </button>
      <div class="container">
        <div class="jumbotron">

            <h3>
                Hello {{user}}</h3>
            <p> You have suceessfully signed In</p>
            <p class="text-danger">Please do not share your creditials with anyone.</p>
            <button class="logoutbtn" (click)='logout()' name="logout" id="">Logout</button>
        </div>
      </div>
      
    </div>
  
  </mat-drawer-container>
   -->